Source: tffs
Section: otherosfs
Priority: optional
Maintainer: Sven Over <svenover@svenover.de>
Build-Depends: debhelper (>= 4.0.0), libfuse-dev (>= 2.4.0), scons (>= 0.96.1-1), libstdc++6-4.0-dev
Standards-Version: 3.6.2

Package: tffs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: read-only driver for T*PFIELD hard disks based on FUSE
 This is tffs, a read-only driver for the T*PFIELD file system, based on FUSE,
 the file system in userspace. With tffs you can mount a hard disk from a
 T*PFIELD digital satellite receiver to a directory in your file system tree.
 Any program can access the files on your T*PFIELD disk like any other ordinary
 file. tffs does not support any write operations. Changing files is
 impossible, as is delete or even renaming files. tffs has so far only been
 tested with the T*PFIELD PVR4000. It may or may not work with other models.
 .
 In order to use tffs, your kernel must include FUSE support. FUSE has been
 part of the official Linux kernel since version 2.6.14. For some older
 versions, FUSE can be acquired separately to be compiled as a kernel.
